/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 992px) {
  /* Styles */
  .navtoggle {
    display:none;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 768px) {
  /* Styles */
    h5{font-size:5rem;}
    .navbar-collapse{
    margin-left: 7vw;
    }
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 768px) {
  /* Styles */
  .navbar ul {
    padding-top: 20px;
    padding-left: 10px;
}
.navbar ul li {
    margin-bottom: 0px;
}
  .navbar .description {
    padding-top: 35px;
  }
  .contentsectiontitle {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .contentsection {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
